@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Raleway:ital,wght@0,500;0,800;1,500&display=swap');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1A2F3F;
}

::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(#000, .1);
  border-radius: 50px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #337D5A;
  border-radius: 50px;
  box-shadow: inset 1px 1px 10px #337D5A;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.container {
  max-width: 1330px !important;
  margin: 0 auto;
  padding: 0 15px !important;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.position {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  &-link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      border-color: #8a8a8a;
    }
  }
}
.position.secondary {
  color: #fff;
  position: absolute;
  top: 40px;
  .position-link:hover {
    border-color: #fff;
  }
}

.input-info {
  display: block;
  color: #d40000;
  margin-top: 4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
